/* before */
.oddBoxOut {
  width: 12em;
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  border: solid 1px black;
}

.evenBoxOut {
  width: 12em;
  float: right;
  padding: 0.5em;
  margin: 0.5em;
  border: solid 1px black;
}
/* after (aggressive) */
.evenBoxOut, .oddBoxOut {
	padding: 0.5em;
	border: solid 1px black;
	margin: 0.5em;
	width: 12em;
}
.evenBoxOut {
	float: right;
}
.oddBoxOut {
	float: left;
}
