/* before */
a {
font-style: italic;
font-variant: small-caps;
font-weight: bold;
font-size: 1em;
line-height: 1.5em;
font-family: verdana,serif;
}
/* after (minify) */
a{font:italic small-caps bold 1em/1.5em verdana,serif}
